# Ignore executables
gcam
*.exe
*.pdb
*.dll
run-gcam.command

# Ignore build directories
Debug*
Release*
*build

# Ignore typically generated output files
gas*.emk
outFile*.csv
debug*.xml
batch-csv-out.csv

# Ignore the standard expendable configuration file
configuration.xml
